    <div id="wrapper">
      <h1>News Scraper</h1>
      <h2><i>Testing out the scraper</i></h2>

      <br>
      <hr>

      <div id="articles"></div>
      <hr>
      <div id="comments"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
