    <div id="wrapper">

<div class="jumbotron jumbotron-fluid jumbotron-top">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="lead">A news scraper / saver for the Reddit Website.</p>
  </div>


      <br>
      <hr>
      </div>
      
  <div class="container article-box">
  <div class="row">
    <div id="articles" class="col">
      Scraped Articles
      <br>
      <br>
    </div>
    <div id="saved" class="col">
      Saved Articles
      <br>
      <br>
      
    </div>
  </div>
  </div>

 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/style.css">
