body { background-color: lightgrey }

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  font-size: 20px;
}

#articles p{
  
  font-size: 20px;
}


#notes {
  float: right;
  width: 30%;
  font-size: 20px;
}

#notes h3 {
 
  font-size: 20px;
}



textarea, input {
  display: block;
  width: 100%;
  background-color: rgb(199, 204, 252);
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

.navbar{
  height: 30px;
}

.navbar-brand {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.nav{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.jumbotron {
  background-color: rgb(243, 240, 240);
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}

.jumbotron-top {

  background-image: url("https://cdn-images-1.medium.com/max/1600/1*DFcaAvca6kvNa-6EYMYYdA.png");
  background-size: cover;
  background-size: 65%, 65%;
  height:300px;
  border-radius: 20px;
  
}

.article-box{
  background-color: rgb(243, 240, 240);
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  border-radius: 20px;
}

.col{
  margin-top: 20px;
}
